{
  "parser": "babel-eslint",
  "env":{
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "prefer-const": "off",
    "linebreak-style": [2, "windows"]
  },
  "extends": ["eslint:recommended", "google"]
}